[push]
	default = simple
[user]
	name = Erik Aker
	email = eraker@gmail.com
[alias]
    br = branch
    cm = commit
    st = status
    co = checkout
    pu = push
    updates = add -u
    unstage = reset HEAD
    changed = diff --cached
    last = log -1 HEAD
    commands = config --get-regexp '^alias'
