[push]
	default = simple
[user]
	name = Erik Aker
	email = eraker@gmail.com
[alias]
    br = branch
    ci = commit
    st = status
    co = checkout
    updates = 'add -u'
    unstage = 'reset HEAD'
    changed = diff --cached
    last = 'log -1 HEAD'
    commands = config --get-regexp '^alias'

